<h1>Landmarks</h1>
<table>
  <th>Name</th>
  <th>Year Completed</th>
  <% @landmarks.each do |landmark| %><tr>
    <td><%= landmark.name %></td>
    <td><%= landmark.year_completed %></td>
  </tr><% end %>
</table>
