<h1>Create New Landmark</h1>

<form action="/landmarks" method="post">
  <p>
    <label for="landmark_name">Name: </label>
    <input type="text" name="landmark[name]" id="landmark_name">
  </p>
  <p>
    <label for="landmark_year_completed">Year Completed: </label>
    <input type="text" name="landmark[year_completed]"
      id="landmark_year_completed">
  </p>

  <input type="submit" value="Create New Landmark">
</form>
